body {
  font-family: 'Roboto', sans-serif;
}

/* 
Header
 */
header {
  display: grid;
  grid-template-columns: 15% auto 15%;
  align-items: center;

}

/* Header -logo */
.header-logo {
  font-weight: lighter;
  font-size: 1rem;
  grid-column: 1/2;
}

.header-logo img {
  width: 10%;
  height: 10%;
}

/* Header-menu*/
.header-menu {
  grid-column: 2/3;
  font-size: 0.9rem;
}

.header-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  padding: 0;
}

.header-menu li {
  width: 100%;
  position: relative;
}

.header-profile {
  grid-column: 3/4;
  justify-self: center;
  width: 100%;
}

.header-profile h4 {
  text-align: center;
  font-size: 90%;
}

.header-menu button {
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: capitalize;
  padding: 1rem 1rem;
  /* transition: 0.9s; */
  width: 100%;
}

.header-menu button:hover {
  border-bottom: 3px solid #EBEFF4;
  /* background-color: #EBEFF4; */
}

.header-menu button.active {
  font-weight: bolder;
}

.header-active {
  display: inline;
  position: absolute;
  top: 88%;
  left: 50%;
}


/* Header-Profile */
.header-profile {
  display: flex;
  justify-content: space-around;
}

.header-user-profile-image img {
  width: 80%;
  height: 80%;
}

div h3 {
  color: green;
}