body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: grid;
  grid-template-columns: 15% auto 15%;
  align-items: center;

}

.header-logo {
  font-weight: lighter;
  font-size: 1rem;
  grid-column: 1/2;
}

.header-menu {
  grid-column: 2/3;
  font-size: 0.9rem;
}

.header-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  padding: 0;
}

.header-menu li {
  width: 100%;
}

.header-profile {
  grid-column: 3/4;
  justify-self: center;
  width: 100%;
}

.header-profile h4 {
  text-align: center;
  font-size: 90%;
}

.header-menu button {
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: capitalize;
  padding: 1rem 1rem;
  transition: 0.3s;
  width: 100%;
}

.header-menu button:hover {
  background-color: #dddddd;
}

.header-menu button.active {
  background-color: #cccccc;
}